 body {
    /* background-image: url("file:///home/wecode/Documents/birthday/picture/eve.jpg"); */
    background-image: url("https://media2.picsearch.com/is?7C_Km8V-NoCDgqpE0AVGDjAx-PYgOxCc4NHPTxTco4I&height=230");
    background-repeat: no-repeat;
    background-size: contain;

}
.dates{
    /* text-align: center;
    display:flex;
    flex-direction:column;
    justify-content: space-between; 
    line-height: 15px;
    display: inline-block; */
}
#select {

}